$bright-peach: #FF4F60;
$dark-navy: #17183B;
$light-peach: #FBC6A2;

html,
body,
#index-parent,
#ui-view,
.right-side,
.left-side,
.full-height-row,
.fixed-sidebar,
.posts-div {
	height: 100%;
	margin: 0;
}

// login and onboarding pages 
.login-page {
	text-align: center;
}

.right-side {
	background-color: $bright-peach;
}

.left-side,
.fixed-sidebar {
	background-color: $dark-navy;
}

.posts-div {
	background-color: #fdece1;
}

.fixed-sidebar {
	color: $light-peach;
	padding: 0;
}


// sidebar
#newgroupbtn,
#logoutbtn {
	position: absolute;
	bottom: 8px;
}

#newgroupbtn {
	right: 13px;
}





// #wrapper {
//     padding-left: 0;
// }

// #sidebar-wrapper {
//     z-index: 1000;
//     // position: fixed;
//     // left: 250px;
//     // width: 0;
//     height: 100%;
//     // margin-left: -250px;
//     overflow-y: auto;
//     background: #000;
// }

// #page-content-wrapper {
//     width: 100%;
//     position: absolute;
//     padding: 15px;
// }

/* Sidebar Styles */

.sidebar-nav {
    // position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}