$bright-peach: #FF4F60;
$dark-navy: #17183B;
$light-peach: #FBC6A2;

html,
body,
#index-parent,
#ui-view,
.right-side,
.left-side,
.full-height-row,
.fixed-sidebar,
.posts-div {
	height: 100%;
	margin: 0;
}

// login and onboarding pages 
.login-page {
	text-align: center;
}

.right-side {
	background-color: $bright-peach;
}

.left-side,
.fixed-sidebar {
	background-color: $dark-navy;
}

.posts-div {
	background-color: $light-peach;
}

.fixed-sidebar {
	color: $light-peach;
}