<!-- CONTROLLER: groupCtrl -->
<div class="row full-height-row">
    <div class="col-md-6 right-side">
        <h1>You're almost there!</h1>
        <h6>Looks like you need some buddies...</h6>
        <div class="form-group">
            <label for "create-group">Create a group:</label>
            <input type="email" class="form-control" ng-model="addMember1" placeholder="Email">
            <input type="email" class="form-control" ng-model="addMember2" placeholder="Email">
            <input type="email" class="form-control" ng-model="addMember3" placeholder="Email">
            <button ng-click="addMembers()" class="btn btn-default">Add buddies</button>
        </div>
    </div>
    <div class="col-md-6 left-side">

    </div>
</div>