<div class="row full-height-row">
	<!-- FIXED SIDEBAR -->
	<div class="col-md-2 fixed-sidebar">
		<!-- Button trigger modal -->
	    <button id="addPostBtn" class="btn btn-default" data-toggle="modal" data-target="#myModal">
	    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	    </button>
	    <!-- Modal -->
	    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title" id="myModalLabel">Add a post</h4>
	          </div>
	          <div class="modal-body">
	            <input type="text" class="form-control" placeholder="Add url" ng-model="url" size="30">
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-primary" ng-click="addPost()">Post</button>
	          </div>
	        </div>
	      </div>
	    </div>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li ng-repeat="group in userGroups">
                    <a href="#">{{group.$value}}</a>
                </li>
            </ul>
        </div>
		<button id="logoutbtn" ng-click="logout()">Logout</button>
		<button id="newgroupbtn">New group</button>
	</div>

	<!-- POSTS CONTAINER -->
	<div class="col-md-10 posts-div">
		<div ui-view></div>
	</div>

</div>