<div class="row full-height-row">
	<!-- FIXED SIDEBAR -->
	<div class="col-md-2 fixed-sidebar">
		<!-- Add Post button trigger modal -->
	    <button id="addPostBtn" class="btn btn-default" data-toggle="modal" data-target="#myModal">
	    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	    </button>
	    <!-- Add post Modal -->
	    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h4 class="modal-title" id="myModalLabel">Add a post</h4>
	          </div>
	          <div class="modal-body">
	            <input type="text" class="form-control" placeholder="Add url" ng-model="url" size="30">
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-primary" ng-click="addPost()">Post</button>
	          </div>
	        </div>
	      </div>
	    </div>

	    <!-- Groups menu items -->
<!--         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li ng-repeat="group in allGroups">
                	<div ng-repeat=" usergroup in usersGroups | filterBy: ['$value']:group.$id">
                    	<button name="groups" id="{{group.$id}}" ng-click="changeView(group.$id)" ng-model="currentGroupView" value="{{group.$id}}" class="btn groupMenuItem">{{group.groupname}}</button>
	                </div>
                </li>
            </ul>
        </div> -->
        <div id="sidebar-wrapper">
        	<form name="theForm">
	            <ul class="sidebar-nav">
	                <li ng-repeat="group in allGroups">
	                	<div ng-repeat=" usergroup in usersGroups | filterBy: ['$value']:group.$id" >
		                	<input type="radio" name="groups" id="{{group.$id}}" ng-click="changeView(group.$id)" ng-model="currentGroupView" value="{{group.$id}}" class="btn">
		                	<label for="{{group.$id}}">{{group.groupname}}</label>
		                    	
			            </div>
	                </li>
	            </ul>
	        </form>
        </div>
		<button id="logoutbtn" ng-click="logout()">Logout</button>

		<div ng-controller="groupCtrl">
			<button id="addmembersbtn" class="btn btn-default" data-toggle="modal" data-target="#addMembersModal">Add Members</button>

		    <!-- ADD MEMBERS Modal -->
		    <div class="modal fade" id="addMembersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h4 class="modal-title" id="myModalLabel">Add Members</h4>
		          </div>
		          <div class="modal-body">

		          	<div class="form-group">
			            <input type="email" class="form-control" ng-model="addMember1" placeholder="Email">
			            <input type="email" class="form-control" ng-model="addMember2" placeholder="Email">
			            <input type="email" class="form-control" ng-model="addMember3" placeholder="Email">
			            <button ng-click="addMembers()" class="btn btn-default">Add buddies</button>
			        </div>
		          </div>
		        </div>
		      </div>
		    </div>





			<button id="newgroupbtn" class="btn btn-default" data-toggle="modal" data-target="#joinModal">New group</button>
			
		    <!-- NEW GROUP Modal -->
		    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header">
		            <h4 class="modal-title" id="myModalLabel">Create or Join</h4>
		          </div>
		          <div class="modal-body">

		          	<div class="form-group">
			            <label for "create-group">Create a group:</label>
			            <input type="text" class="form-control" id="create-group" ng-model="newGroupName" placeholder="Create group">
			            <button ng-click="createGroup('main')" class="btn btn-default">Create</button>
			        </div>
			        <div class="form-group">
			            <label for "join-group">Join a group:</label>
			            <input type="text" class="form-control" id="join-group" ng-model="joinGroupName" placeholder="Join group">
			            <button ng-click="joinGroup()" class="btn btn-default">Join</button>
			        </div>
		          </div>
		        </div>
		      </div>
		    </div>



		</div>
	</div>

	<!-- POSTS CONTAINER -->
	<div class="col-md-10 posts-div">
		<div ui-view></div>
	</div>

</div>