<div class="row full-height-row">
	<!-- FIXED SIDEBAR -->
	<div class="col-md-2 fixed-sidebar">
		<button ng-click="addPost()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                   
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
            </ul>
        </div>
		<button id="logoutbtn">Logout</button>
		<button id="newgroupbtn">New group</button>
	</div>

	<!-- POSTS CONTAINER -->
	<div class="col-md-10 posts-div">
		<div ui-view></div>
	</div>

</div>