<!-- CONTROLLER: loginCtrl -->
<div class="row full-height-row">
    <div class="col-md-6 right-side">
        <h1>Tell us about yourself.</h1>
        <div class="form-group">
            <label for "add-name">First Name:</label>
            <input type="text" class="form-control" id="add-name" ng-model="firstname" placeholder="Name">
            <label for "username">Create a username:</label>
            <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username">
            <label for "userPhoto">Add a photo:</label>
            <input type="text" class="form-control" id="userPhoto" ng-model="userphoto" placeholder="Link">
            <button ng-click="saveProfile()" class="btn btn-default">Save</button>
        </div>
    </div>
    <div class="col-md-6 left-side">

    </div>
</div>