<!-- CONTROLLER: loginCtrl -->
<div class="row full-height-row">
    <div class="col-md-6 right-side">
        <h1>Tell us about yourself.</h1>
        <div class="form-group">
            <label for "add-email">Email:</label>
            <input type="text" class="form-control" id="add-email" ng-model="addemail" placeholder="Email">
            <label for "add-name">First Name:</label>
            <input type="text" class="form-control" id="add-name" ng-model="firstname" placeholder="Name">
            <button ng-click="saveProfile()" class="btn btn-default">Save</button>
        </div>
    </div>
    <div class="col-md-6 left-side">

    </div>
</div>