<!-- CONTROLLER: loginCtrl -->
<div class="row full-height-row">
    <div class="col-md-6 right-update">
        <h1 class="onboarding-header">Tell us about yourself.</h1>
        <div class="form-group">
            <label for "first-name" class="onboarding-label">First Name:</label>
            <input type="text" class="form-control onboarding-input" id="first-name" ng-model="firstname" placeholder="Name">            
            <label for "last-name" class="onboarding-label">Last Name:</label>
            <input type="text" class="form-control onboarding-input" id="last-name" ng-model="lastname" placeholder="Name">
            <label for "username" class="onboarding-label">Create a username:</label>
            <input type="text" class="form-control onboarding-input" id="username" ng-model="username" placeholder="Username">
            <label for "userPhoto" class="onboarding-label">Add a photo:</label>
            <input type="text" class="form-control onboarding-input" id="userPhoto" ng-model="userphoto" placeholder="Link">
            <button ng-click="updateProfile()" class="btn btn-default onboarding-button">Save</button>
        </div>
    </div>
    <div class="col-md-6 left-update">

    </div>
</div>